/* src/components/layout/Content.css */
.content {
    flex-grow: 1; /* Занимает все оставшееся пространство */
    padding: 40px 0 0 0; /* Только верхний отступ */
    background-color: #F4F9FD;
    overflow-y: auto; /* Добавляет прокрутку, если контента много */
  }